

.contact  {
	margin: 6em 0;
	position: relative;
}
.contact h1 {
	padding: 2em 1px;
	color: #77009e;

}
.contact .right {
	max-width: 600px;
}

.contact .right .btn-secondary{
 background:  #77009e;
 color: #fff;
 border:0;
}
.contact .right .form-control::placeholder {
	color: #888;
	font-size: 16px;
}
.contact .right .form-control .area {
	height: 500px;
	width: 100%;

}